<table class="table">
	<thead>
		<tr>
			<th>Dish name</th>
			<th>Dish Short Name</th>
			<th>Dish name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in narrowItDownList.items">
			<td>{{ item.name }}</td>
			<td>{{ item.short_name }}</td>
			<td>{{ item.description }}</td>
			<td><button class="btn btn-danger" ng-click="narrowItDownList.onRemove({index: $index});">Remove Item</button></td>
		</tr>
	</tbody>
</table>
<span ng-if="narrowItDownList.items.length == 0">No items where fetched</span>
